@import "tailwindcss";
html,
body,
#root {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

@keyframes carMove {

    0% {

        transform: translateX(-180px);

    }

    100% {

        transform: translateX(550px);

    }

}

.animate-car{

    animation: carMove 2.2s linear infinite;

}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

.table-head {
    @apply px-5 py-4 text-[11px] md:text-base whitespace-nowrap;
}

.table-cell {
    @apply px-5 py-4 text-center;
}

.table-btn {
    @apply px-4 py-2 rounded text-white;
}